.pagination1 {
    margin:0; 
    padding:0;
    float:left;
    margin-left:0px;
    margin-bottom:5px;
    margin-top:8px;
    }
    .pagination1 ul {
    float: right;
    list-style: none;
    margin:0 0 0 ;
    padding:0;
    }
    .pagination1 li span { line-height:45px; font-weight:bold;}
    .pagination1 li {
    margin:0 0 0 0;
    float:left;
    font-size:16px;
    text-transform:uppercase;
    }
    .pagination1 li a {
        border:1px solid #ccc;
        background-color:#fff;
        margin-left:5px;
    color:#3b578f;
    padding:3px 8px;
    text-decoration:none; text-align:center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display:block;
    font-weight:bold;
    font-size:13px;
    margin-top:7px;
    }
    .pagination1 li a:hover,.pagination1 li a.active,.pagination1 li .active:hover{ 
    color:#da2723;
    background-color:#eff0ed;
    text-decoration: none;
     }